/***************  Start product ***************/
body { padding-top: 70px; }

#product-images {
  margin:0 auto !important;
  width:80%;
}

.product-image {

  width:30%;
  height:350px;

  display:inline-block;

  background-repeat:no-repeat;

  margin:1%;

  border-radius: 3%;

  border:2px solid #eaeaea;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  cursor:pointer;

}

@media screen and (max-width: 900px) {

  .product-image {
    display:block;
    width:100%;
    margin-bottom:25px;
  }

}
/***************  End product ***************/

/***************  Start overlay ***************/

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup #close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align:center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
/* .overlay {
  visibility: visible;
  opacity: 1;
} */

/***************  End overlay ***************/

/***************  Start ScrollUp ***************/

#scroll-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  background-color: #1B926C;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 100;
  cursor: pointer;
  display: none;
}

#scroll-top .fa {
    padding-top: 6px;
}

/***************  End ScrollUp ***************/
