/***************  Start General Layout ***************/
* { box-sizing: border-box }
body{
  font-family: 'Lato';
  color: #5B5555;
}
/*nav, section, footer { border: 1px solid #f00; }*/
/*h1 { margin: 0; font-family: 'Bubblegum Sans';}*/
h2 {
  margin-bottom: 80px;
  font-size: 42px;
}
h2, h3 { color: #333; }
li {
  list-style: none;
}
section{
    padding-top:70px;
    padding-bottom:70px;

}

a {
  text-decoration: none;
}

.container {
    width: 70%;
    margin: auto;
}

h2,
footer { text-align: center }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/***************  End General Layout ***************/
/***************  Start home image ***************/
.image1{
  background-image: url("../images/voorbeeld1.jpg");
  min-height: 700px;
}
.image1 h2{
  /*padding-top:50px;
  padding-bottom:50px;*/
  padding: 10px 0;
  width: 30%;
  margin: auto;
  margin-top: 300px;
  margin-bottom: 30px;
  background-color: rgba(31, 166, 145, 0.7);
  font-weight: normal;
}

.image1 p {
  background-color: rgba(40, 46, 48, 0.6);
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 10px 20px;
  width: 60%;
  margin: 0 auto;

}

.image1 h2,
.image1 p {
  color: #fff;
}

/***************  End home image ***************/

/***************  Start NavBar ***************/
nav {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #1FA67A;
  color: #fff;
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
/*   height: 1px; */

}

nav .container {
  position: relative;
}

nav h1 {
  font-family: 'Bubblegum Sans';
  margin: 0;
  float: left;
  font-size: 65px;
  position: absolute;
  left: -36px;
  top: 3px;
}

nav ul {
  float: right;
}

nav h1,
nav ul {
  vertical-align: top;
}

nav ul li {
  display: inline-block;
  margin-right: 26px;
  font-size: 32px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  /*display: block;*/
  padding-bottom: 10px;
  border-width: 0;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
  border-bottom: 2px solid #fff;
}

/***************  End NavBar ***************/

section#over-ons {
  background-color: #F2F2F2;
}

#over-ons p {
  font-size: 1.3em;
  margin-top: -10px;
  line-height: 1.3em;
}

/***************  Start Over Ons ***************/
/***************  End Over Ons ***************/

/***************  Start ons team ***************/

.teamlid {
  float: left;
  width: 25%;

}

.teamlid div{
    border: 2px solid #888;
    height: 200px;
    width:  200px;
    border-radius: 50%;
    overflow: hidden;

}
/***************  End ons team ***************/

/***************  Start contact ***************/

section#contact {
    background-color: #F2F2F2;
}

.contact{
    float: right;
}
.social-media{
  width: 40%;
  text-align: center;
  margin-right: 100px;
}

.social-media h3 {
  font-size: 32px;
  margin-bottom: 50px;
}

.social-media a {
  margin-right: 10px;
}

.social-media i {
  color: #1B926C
}

.map{
  width: 55%;
  margin-right: -100px;
}

.map iframe {
  width: 90%;
  height: 350px;
  border: 8px solid #fff;
  box-shadow: 0 3px 5px #888;
}
/***************  End contact ***************/

/***************  Start Footer ***************/

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  color: #fff;
  background-color: #313233;
}

/***************  End Footer ***************/
